*{
    /border: 1px solid black;
    font-family: 'VT323', monospace;
}

h1{
    font-size: 4em;
    line-height: 0.8em;
}

p{
    font-size: 1.5em;
}

.bord{
    border: 1px solid black;
}

.shad{
    box-shadow: -3px 3px 0 black;
}

.shad-right{
    box-shadow: 3px 3px 0 black;
}

#buttons {
    height: 40vmax;
}

.svg{
    font-size: 2em;
}

.rps{
    width: 5em;
    background-color: white;
    box-shadow: -3px 3px 0 black;
}

.rps:hover{
    background-color: black;
    color: white;
}

.rps:focus{
    outline: none;
}

.footer{
    font-size: 2em;
    border: 1px solid black;
    box-shadow: -3px 3px 0 black;
}

#reset{
    background-color: white;
    box-shadow: -3px 3px 0 black;
    border: 1px solid black;
}

#reset:hover{
    background-color: black;
    color: white;
}

#reset:focus{
    outline: none;
}